

$gray-lighter: lighten( #e5e5e5, 5% );

$brand-primary: #00ADEF;
$brand-secondary: #78BC2B;

$brand-success: #78BC2B;
$brand-info: #00ADEF;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$headings-color: $brand-secondary;

//$table-bg: $gray-lighter;

//$navbar-height:                    100px;
//$navbar-margin-bottom:             $line-height-computed !default;
//$navbar-border-radius:             $border-radius-base !default;
//$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
//$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
//$navbar-collapse-max-height:       340px !default;
