@import "variables";
@import "bootstrap/variables";
@import "bootstrap-custom";
@import "modules/io";
@import "modules/breadcrumbs";
@import "modules/buttons";
@import "modules/tables";
@import "modules/panel";
@import "modules/type";
@import "modules/layout";
@import "modules/filter";
@import "modules/product-list";
@import "modules/modal";
@import "modules/card";
@import "modules/item-availability";
@import "modules/logo";


.visible-mouseover {
    transition: all 200ms;
    opacity: 0;
    *:hover > & {
        opacity: 1;
    }
}

.hidden-mouseover {
    transition: all 200ms;
    *:hover > & {
        opacity: 0;
    }
}

header {
    &.sticky {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;

        @include box-shadow( 0px 5px 10px -4px rgba(0,0,0,0.75) );
    }
}

footer {
    .sticky {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        @include box-shadow(0px -1px 4px 0px rgba(0, 0, 0, 0.5));

        padding: 10px 0;

        background-color: $gray-lighter;
    }

    .jumbotron {
        margin-bottom: 0;
    }
}

.navbar {
    margin-bottom: 0;

    &.navbar-default {
        background-color: transparent;
    }

    .navbar-brand.logo {
        min-width: 150px + $grid-gutter-width;
    }
}

.teaser {
    background: no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 300px;
}

[data-href]:hover {
    cursor: pointer;

    &.list-group-item {
        background-color: $gray-lighter;
    }
}

img.product-image {
    border: 1px solid $gray-light;
}

.product-compare {
    //visibility: hidden;
    opacity: 0;
    @include transition(transform 500ms, opacity 500ms);
    @include translate(0%, 100%);

    &.in {
        visibility: visible;
        opacity: 1;
        @include translate(0%, 0%);
    }
}
