
$swissbit-button-radius: 10px;

.btn {
    border-bottom-right-radius: $swissbit-button-radius;

    &.active.focus,
    &.active:focus,
    &.focus,
    &:active.focus,
    &:active:focus,
    &:focus {
        outline: none;
    }
}



.btn.btn-default {
    border-color: $brand-primary;
    color: $brand-primary;

    &:hover,
    &.focus,
    &:focus{
        background-color: $gray-lighter;
        //background-color: $gray-lighter;
    }
}
