

.card {
    background-size: cover;
    position: relative;
    overflow: hidden;

    .card-body {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        overflow: hidden;

        color: #fff;
        padding: $grid-gutter-width / 2;

        text-align: center;

        .card-title {
            display: block;
            margin-bottom: 1em;
            color: inherit;
        }

        &.hidden-mouseover {
            transform: translateY( 25% );
            .card-title {
                text-transform: initial;
                font-size: 180%;
            }
        }
    }

    &:hover .card-body {
        background-color: rgba(0, 173, 239, 0.8);
    }
}

.card.card-empty {
    background-color: $brand-primary;
    border-bottom-right-radius: 50px;
}
