



.product-filter {
    @media (max-width: 767px) {
        .hidden-filter-group-collapsed {
            display: none;
        }

        &.filter-group-collapsed .hidden-filter-group-collapsed {
            display: block;
        }

        .filter-group.filter-group-collapse {
            display: none;

            &.in {
                display: block;
            }
        }
    }
}



@media (min-width: 768px) {
    .filter-group .panel .panel-dropdown.panel-sm-dropdown {
        position: relative;
        z-index: 100;
        height: 0px !important;
        border: none !important;
    }

    .filter-group .panel .panel-dropdown.panel-sm-dropdown .collapsing {
        transition: height 0.2s;
    }

    .filter-group .panel .panel-dropdown.panel-sm-dropdown .panel-collapse {
        border: 1px solid rgb(221, 221, 221);
        position: absolute;
        z-index: 1;
        top: 0;
        left: -1px;
        right: -1px;
        background-color: rgba(245, 245, 245, 0.95);
    }
}

.panel.filter * + .io-control-slider {
    margin-top: 2em;
}

.panel.filter .io-control-slider-replace * + .io-control-slider {
    margin-top: auto;
}
