//.enh-checkbox {
//    position: relative;
//    top: 0px;
//    display: inline-block;
//    font-family: 'Glyphicons Halflings';
//    font-style: normal;
//    font-weight: 400;
//    line-height: 1;
//    -webkit-font-smoothing: antialiased;
//    content: "\e157";
//    font-size: 150%;
//    min-height: 20px;
//    min-width: 20px;
//
//    &:after {
//        -webkit-font-smoothing: antialiased;
//        content: "\e157";
//    }
//}

.io-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;

    input {
        visibility: hidden;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 150%;
        min-height: 1em;
        min-width: 1em;
        font-style: normal;
        font-weight: 400;
        line-height: 1em;
        vertical-align: bottom;
        content: "\e157";
        -webkit-font-smoothing: antialiased;
        font-family: 'Glyphicons Halflings';
        -webkit-font-smoothing: antialiased;

        color: darken( $gray-light, 10% );
    }

    &[disabled] {
        color: $gray-light;
        cursor: not-allowed;
    }

    &.io-checkbox-checked:before {
        content: "\e067";
    }
}

.io-control-slider-replace {
    > * {
        display: none !important;
    }

    > .io-control-slider {
        display: block !important;
    }
}

.io-control-slider {
    $slider-border-color: #D9D9D9;

    padding: 1em .5em;
    border: 1px solid $slider-border-color;

    .noUi-connect {
        background: $brand-primary;
    }

    .noUi-tooltip {
        display: none;
    }
    .noUi-active .noUi-tooltip {
        display: block;
    }

    .noUi-handle {
        cursor: grab;
        //cursor: pointer;

        &.noUi-active {
            cursor: grabbing;
        }

        [disabled] & {
            cursor: not-allowed;
        }
    }

    .noUi-horizontal {
        height: 0.5em;

        html:not([dir=rtl]) & .noUi-handle {
            right: -0.9em !important;
        }

        .noUi-handle {
            height: 1.5em !important;
            width: 1.75em !important;

            &:focus {
                outline: none !important;
            }

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                height: .75em !important;
                width: 1px;
                background: #E8E7E6;
                top: .25em;
            }

            &:before {
                left: 0.5em !important;
            }
            &:after {
                left: 1em !important;
            }
        }
    }
}
