
.item-availability {
    color: $brand-primary;
    position: relative;
    z-index: 0;

    .selected & {
        color: inherit;
    }

    white-space: nowrap;

    &.fade {
        transition: opacity 100ms;
        opacity: 0;

        &.in {
            opacity: 1;
        }
    }

    .availability-star {
        position: relative;
        z-index: 0;

        &:before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 400;
            font-style: normal;

            content: "\f005";
            vertical-align: bottom;

            -webkit-font-smoothing: antialiased;
            -webkit-font-smoothing: antialiased;
        }

        &.availability-star-full:before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            content: "\f005";
        }

        &.availability-star-half:after {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-style: normal;
            content: "\f089";

            position: absolute;
            top: 0;
            left: 0;

            -webkit-font-smoothing: antialiased;
            -webkit-font-smoothing: antialiased;
        }
    }

    .availability-star-full {

    }
}
