
body > header {
    background-color: rgba(255, 255, 255, 0.95);
}

body > header.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

@media (max-width: 767px) {
    body > header.header-fixed {
        /*bottom: 0;*/
        max-height: 100%;
        /*height: 100%;*/
        overflow: auto;
    }
}
