
.logo {
    display: inline-block;
    vertical-align: middle;
    min-width: 150px;
    min-height: 30px;
    background: no-repeat ($grid-gutter-width/2) center;
    background-position: center center;
    background-size: contain;
    @include img-retina("../images/logo.png", "../images/logo@2x.png", 150px, 30px);
}
