
@media (min-width: 767px) {
    main, header {
        transition: blur 200ms;
        filter: blur(0px);
    }

    body.modal-open main,
    body.modal-open header {
        filter: blur(2px);
    }

    .modal.rotate .modal-dialog {
        @include transition( transform 400ms !important );
        @include rotateX( -70deg );
        @include transform-origin( center center !important );
    }

    .modal.rotate.in .modal-dialog {
        @include rotateX( 0deg );
    }
}


.modal .modal-dialog {
    .modal-header, .modal-content {
        background-color: $gray-lighter;
    }
}
