
.panel.panel-condensed {
    font-size: 80%;
}
.panel.panel-condensed .panel-heading {
    font-size: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}
.panel.panel-condensed .panel-heading .panel-title {
    font-size: 100%;
}


.panel.filter .panel-heading {
    cursor: pointer;
}
