

//@import "product-list/table";
@import "product-list/item-card";

//@keyframes zoomOut {
//    0% {
//        transform: scale(1);
//    }
//    50% {
//        transform: scale(0.99);
//    }
//    100% {
//        transform: scale(1);
//    }
//}

.product-list {
    .fade {
        opacity: 0;
        &.in {
            opacity: 1;
        }
    }
}


.product-list .visible-product-list-error,
.product-list .visible-product-list-complete,
.product-list .visible-product-list-loading,
.product-list .visible-product-list-empty {
    display: none;
}

.product-list.product-list-loading {
    .visible-product-list-loading {
        display: block;
    }

    .hidden-product-list-loading {
        display: none;
    }
}

.product-list.product-list-complete {
    .visible-product-list-complete {
        display: block;
    }

    .hidden-product-list-complete {
        display: none;
    }
}

.product-list.product-list-empty {
    .visible-product-list-empty {
        display: block;
    }
}
