
.table.table-swissbit {
    & > thead > tr,
    & > tr {
        background-color: $brand-primary;

        & > th {
            color: #fff;
            border-bottom: 1px solid #fff;
        }
    }

    & > tbody > tr,
    & > tr {
        background-color: $gray-lighter;
        border-bottom: 1px solid #fff;

        &>td,
        &>th {
            border-top-color: #fff;
        }

        &.highlight {
            @extend .bg-info;
        }
    }
}

.table-header-affix table.table.table-swissbit.table-floating-header {
    @include box-shadow( 0px 3px 10px -4px rgba(0,0,0,0.75) );

    &>thead>tr>th {
        border: none;
    }
}



.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {

}

.table > thead > tr > th {

}

.table > tr > th,
.table > thead > tr > th,
.table > tbody > tr > th {
    color: $gray-light;
}


.table-condensed {
    table {
        font-size: 90%;
    }

    thead th {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.table.table-selectable tr {
    cursor: pointer;

    @include transition( all 200ms );

    td:first-child {
        &:after {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            content: "\e157";
            font-size: 150%;
        }

        text-align: center;
    }

    &.selected {
        background-color: $brand-primary;
        color: #fff;
        td:first-child:after {
            content: "\e067";
        }
    }
}

///**
// * tbody slide in
// */
//table.table tbody.slide {
//    position: relative;
//    z-index: 0;
//
//    -webkit-transition: all 600ms;
//    -moz-transition: all 600ms;
//    -ms-transition: all 600ms;
//    -o-transition: all 600ms;
//    transition: all 600ms;
//
//    transform: translate(0%, 50%);
//    opacity: 0;
//
//    /*transform: scale(2);*/
//    /*transform-origin: left top;*/
//
//    &.in {
//        transform: translate(0%, 0%);
//        opacity: 1;
//    }
//}
