

.item-card {
    .row > * & {
        margin: 0px ( -($grid-gutter-width/2) ) $grid-gutter-width;
        padding: ($grid-gutter-width/2);
    }
    border: 1px solid $gray-light;

    cursor: pointer;
    background-color: $gray-lighter;

    margin-bottom: $grid-gutter-width;
}
