
.table-fixed-header {
    position: relative;
    z-index: 100;
}

.table-fixed-header .table {
    margin: 0;
}

.table-fixed-header .header {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: 100;
}



table.table-product-list {
    position: relative;
    z-index: 0;
}

table.table-product-list tbody {
    position: relative;
    z-index: 0;

    @include transition( all 600ms );
    transform: translate(0%, 0%);
    opacity: 1;

    /*transform: scale(2);*/
    /*transform-origin: left top;*/

}

table.table-product-list tbody.new {
    transform: translate(0%, 50%);
    opacity: 0;
    /*transform: scale(0);*/
    /*transform: scale(0);*/
}

table.table-product-list th {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

table.table-product-list tr {
    cursor: pointer;
    position: relative;
    z-index: 0;

    background-color: white;

    /*-webkit-transition: all 100ms;*/
    /*-moz-transition: all 100ms;*/
    /*-ms-transition: all 100ms;*/
    /*-o-transition: all 100ms;*/
    /*transition: all 100ms;*/

    transform: translate(0%, 0%);
}

table.table-product-list tr.selected {
    background-color: $brand-primary;
    color: #fff !important;
    /*font-weight: bold;*/
}

table.table-product-list tr:hover {
    /*transform: scale( 1.02 );*/
    /*transform: translate(-4px, -4px);*/

    /*-webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);*/
    /*-moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);*/
}

table.table-product-list tr.clicked {
    /*-webkit-animation-name: zoomOut;*/
    /*-moz-animation-name: zoomOut;*/
    /*-o-animation-name: zoomOut;*/
    /*animation-name: zoomOut;*/

    /*-webkit-animation-duration: 250ms;*/
    /*-moz-animation-duration: 250ms;*/
    /*-o-animation-duration: 250ms;*/
    /*animation-duration: 250ms;*/

    transform: translate(0px, 0px) !important;;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;;
    box-shadow: none !important;;
}



table.table-product-list td:first-child {
    text-align: center;
}

/*table.table-product-list td:first-child:after {*/
/*-webkit-box-sizing: border-box;*/
/*-moz-box-sizing: border-box;*/
/*box-sizing: border-box;*/

/*-moz-osx-font-smoothing: grayscale;*/
/*-webkit-font-smoothing: antialiased;*/
/*display: inline-block;*/
/*font-style: normal;*/
/*font-variant: normal;*/
/*text-rendering: auto;*/
/*line-height: 1;*/
/*font-size: 150%;*/
/*font-weight: 900;*/
/*font-family: Font Awesome\ 5 Free;*/

/*content: "\f204";*/

/*}*/

/*table.table-product-list tr.selected td:first-child:after {*/
/*content: "\f205";*/
/*!*color: green;*!*/
/*}*/

table.table-product-list td:first-child:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e157";
    font-size: 150%;
}

table.table-product-list tr.selected td:first-child:after {
    content: "\e067";
}
